<!DOCTYPE html>
<html>
  <head>
    <style>
    h1,div{
      text-align: center;
    }
    body{
      background-color: white;
      font-family: Arial Unicode MS;
    }
    ul{
      color: #262626;
    }
    </style>
    <!--<h1>Píton's Pizzaria</h1>-->
  </head>
  <body><div>
    <img src="images/LogoFinal.png" alt="Logo" height="300" width="300"></div>
    <h1><strong>Benefícios da Pizza</strong></h1>
    <br />
    <div class="fotosbenpizza">
      <img class="Foto1" src="images/benpizza1.png" alt="Foto1" height="300" width="449">
      <span>&emsp;</span>
      <img class="Foto2" src="images/benpizza2.png" alt="Foto2" height="300" width="449">
    </div>
    <br />
    <p align="justify">A <b>pizza</b> é um dos alimentos mais amados do mundo. Nós todos sabemos como é deliciosa, é hora de saber o quão <b>saudável</b> uma <b>pizza</b> pode ser para você. Vamos citar alguns dos <b>benefícios de comer uma pizza para a saúde</b>.</p>
    <br/ >
    <dl>
      <dt>1. A massa</dt>
      <dd align="justify">A <b>massa da pizza</b> pode ser <b>extremamente saudável</b>. É muito <b>rica em antioxidantes</b>, e se você usar as técnicas de cozimento corretas, você pode realmente aumentar os <b>antioxidantes na massa</b>. Vai ser extremamente benéfico se você optar por uma <b>massa de trigo</b>. Ele não só tem <b>fibras</b>, <b>carboidratos complexos</b>, e <b>nutrientes essenciais</b>, mas também <b>ajuda na estabilização do metabolismo</b>.</dd>
      <br/ >
      <dt>2. O molho</dt>
      <dd align="justify">O <b>molho</b> é um dos principais componentes de uma pizza. Um dos principais ingredientes de um <b>molho de pizza</b> é o <b>tomate</b>. Rico em <b>licopeno</b>, o tomate ajudá no <b>combate do câncer</b>. Eles também têm <b>vitamina C</b>, que ajuda a impulsionar o <b>sistema imunológico</b>. Como a maioria dos molhos de pizza tem o <b>alho</b>, você começa a usufruir dos benefícios da <b>vitamina B6</b>, <b>vitamina C</b> e <b>manganês</b>, que tem <b>propriedades anticancerígenas</b>. Outro componente de um molho de pizza é o <b>azeite</b>. Ele ajuda na redução do colesterol ruim e lhe dá uma dose de <b>óleos graxos ricos em energia</b>. Com <b>ervas</b> como <b>manjericão</b> e <b>orégano</b>, o molho lhe da cargas de <b>vitamina K e fibras</b>.</dd>
      <br/ >
      <dt>3. O queijo</dt>
      <dd align="justify">Muitas pessoas consideram a <b>pizza saudável</b>, uma vez que possui uma grande quantidade de <b>queijo</b>. O queijo é extremamente rico em <b>cálcio</b>, que deixam os ossos mais fortes e ajuda na <b>prevenção da osteoporose</b>. Também é rico em <b>proteínas</b>. Tudo que você precisa fazer é ser um pouco cauteloso na <b>quantidade</b> e no <b>tipo de queijo</b> que você vai colocar na sua pizza. Esteja ciente do <b>teor de gordura do queijo</b>. Escolha sabiamente entre o <b>queijo de leite integral</b>, queijo de <b>cabra</b> ou queijo de <b>leite desnatado</b>.</dd>
      <br/ >
      <dt>4. Os recheios</dt>
      <dd align="justify">Se você optar por uma <b>pizza</b> que tem <b>verduras</b> como recheio, então ela pode ser muito saudável para você. Os <b>vegetais verdes</b>, como <b>espinafre</b>, <b>pimentão verde</b> e <b>espargos</b> são extremamente <b>ricos em antioxidantes</b>. Outro popular recheio para pizzas são os <b>cogumelos</b>. Eles são <b>agentes de combate ao câncer</b> e têm um teor muito elevado de água. Não só isso, os cogumelos possuem <b>baixo teor de sódio</b>, <b>gordura</b> e <b>contagem de calorias</b>. Eles também ajudam na <b>regulação do seu nível de açúcar</b> no sangue. O <b>abacaxi</b> é outro recheio preferido para uma <b>pizza doce</b>. É extremamente <b>benéfico para os ossos e dentes</b>. Além disso, se você gosta de <b>pizza de carne</b>, então você vai ter uma grande dose de <b>proteína</b> e <b>ferro</b>.</dd>
      <br/ >
      <dt>5. A variedade</dt>
      <dd align="justify">A melhor parte de uma <b>pizza</b> é que você pode <b>controlar todos os ingredientes</b> que vão nela. Se você gosta de fazer <b>pizzas em casa</b>, então você tem uma grande vantagem, assim você pode <b>usar o tipo de massa que quiser</b>, <b>fazer o tipo de molho que você considera mais saudável</b>, adicionar o queijo de acordo com a quantidade que deseja, e desfrute de <b>infinitas opções de recheio</b>. Em suma, você pode fazer uma <b>pizza tão saudável quanto você queira</b>.</dd>
    </dl>
  </body>
</html>
<div class = "botao"></div>
