<!DOCTYPE html>
<html>
  <head>
    <style>
    h1,.clique,.picture,.botao{
      text-align: center;
    }
    .picture{

    }
    body {
      background-color: #ffffcc;
      font-family: courier, monospace;
    }
    </style>
  </head>
  <body>
    <div class="corpo">
    <!--<h1>Píton's Pizzaria</h1>-->
    <div class="picture">
      <img src="images/LogoFinal.png" alt="Logo" height="300" width="300" class="logo">
    </div>
    <p class="clique">Clique aqui para começar:</p>
    <div class="botao"><a href="/monte-sua-pizza">
        <button type="button" class="btn btn-danger">Monte sua pizza</button></a>
    </div>
  </div>
  </body>
</html>
