<!DOCTYPE html>
<html>
  <head>
    <style>
    h1,.clique,.picture,.botao{
      text-align: center;
    }
    .picture{

    }
    body {
      background-color: white;
      font-family: Arial Unicode MS;
    }
    </style>
  </head>
  <body>
    <center>
  <img src="images/pizza.jpg" width="1349px" height="325px">
  <p></p>
  <img src="images/linha.jpg" width="700px" height="1px">
  <p></p>
  <h1 text align="center"><font size="9" face="Euphemia"> Cardápio </font></h1>
  <img src="images/linha.jpg" width="700px" height="1px">

  <font size="2" face="Microsoft Sans Serif" color="black">
  <p><button class="btn btn-link btn-lg btn-block" ><a href="http://localhost:3000/monte-sua-pizza">MONTE SUA PIZZA</a></button></p>
  <div>
    <img src="images/Cardapio.png" width="664px" height="976px">
  </div>
  </font>

  </body>
</html>
