<!DOCTYPE html>
<html>
  <head>
    <style>
    h1,div,.fotosgaleria{
      text-align: center;
    }
    .Foto1,.Foto2,.Foto3,.Foto4{
      box-shadow:5px 5px 20px;
    }
    body{
      background-color: #ffffcc;
      font-family: courier, monospace;
    }
    ul{
      color: #262626;
    }
    </style>
  </head>
  <body><div>
    <img src="images/LogoFinal.png" alt="Logo" height="300" width="300"></div>
    <h1><strong>Galeria de fotos</strong></h1>
    <br />
    <div class="fotosgaleria">
      <img class="Foto1" src="images/galeria1.png" alt="Foto1" height="512" width="384">
      <span>&emsp;</span>
      <img class="Foto2" src="images/galeria2.png" alt="Foto2" height="512" width="384">
      <br />
      <br />
      <img class="Foto3" src="images/galeria3.png" alt="Foto3" height="300" width="449">
      <img class="Foto4" src="images/galeria4.png" alt="Foto4" height="300" width="400">
    </div>


  </body>
</html>
<div class = "botao"></div>
