<!DOCTYPE html>
<html>
  <head>
    <style>
    h1,div{
      text-align: center;
    }
    body{
      background-color: #ffffff;
      font-family: courier, monospace;
    }
    ul{
      color: #262626;
    }
    </style>
    <!--<h1>Píton's Pizzaria</h1>-->
  </head>
  <body><div>
    <img src="images/LogoFinal.png" alt="Logo" height="300" width="300"></div>
    <h1><strong>História da Pizzaria</strong></h1>
    <br />
    <div class="fotoshistoria">
      <img class="Foto1" src="images/historia1.png" alt="Foto1" height="300" width="449">
      <span>&emsp;</span>
      <img class="Foto2" src="images/historia2.png" alt="Foto2" height="300" width="449">
    </div>
    <br />
    <p align="justify"> A família Píton veio ao Brasil em 1938, em um navio lotado de imigrantes italianos. Na época, a família Píton se instalou em Belo Horizonte.
Naqueles tempos, a máfia italiana comandava o crime em Beagá, e o avô Píton era o GodFather. Ele usava a Pítons Pizza para lavar seu dinheiro provindo do tráfico de papoula. </p>
    <p align="justify"> Contudo, em um ato de coragem, Vó Carolina expulsou os integrantes da balbúrdia de Belo Horizonte e legalizou as atividades da pizzaria. Desde então, somos reconhecidos pela qualidade de nossas pizzas realmente italianas e pela cordialidade de quem trabalha na nossa unidade. </p>
    <p align="justify"> Estamos com 2 estrelas Michelin e ganhamos o prêmio da Veja e do TripAdvisor de melhor casa de Pizza da América Latina. </p>
  </body>
</html>
<div class = "botao"></div>
