<!DOCTYPE html>
<html>
  <head>
    <style>
    h1,div{
      text-align: center;
    }
    body{
      background-color: #ffffcc;
      font-family: courier, monospace;
    }
    ul{
      color: #262626;
    }
    </style>
    <!--<h1>Píton's Pizzaria</h1>-->
  </head>
  <body><div>
    <img src="images/LogoFinal.png" alt="Logo" height="300" width="300"></div>
    <h1><strong>História da Pizzaria</strong></h1>

  </body>
</html>
<div class = "botao"></div>
