<!DOCTYPE html>
<html>
  <head>
    <link href="/styles.css" rel=stylesheet>
    <meta charset="utf-8">
    <style>
    .log{
      font-size: 20px;
    }
    body{
      text-align: center;
      font-family: courier, monospace;
    }
    /* comment*/
    body{
      background-color: #ffffcc;
    }
    </style>

  </head>
  <body class="corpo">
    <!-- <h1 class="text">Bem-vindo à Píton's Pizzaria!</h1> -->
    <!--<h1>{{title}}</h1>-->
    <div class="picture">
      <img src="images/LogoFinal.png" alt="Logo" height="200" width="200">
    </div>
    <p class="text"><em>Pizzaria tradicional italiana</em></p>
    <p><div class="button">
      <a href="/teste4"><button type="button" class="btn btn-success">História</button></a>
      <a href="/teste3"><button type="button" class="btn btn-success">Galeria</button></a>
      <a href="/teste"><button type="button" class="btn btn-success">Cardapio</button></a>
      <a href="/teste5"><button type="button" class="btn btn-success">Promoções</button></a>
      <a href="/teste6"><button type="button" class="btn btn-success">Benefícios da Pizza</button></a>
    </div></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <form class="log" action="/login" method="post">

      <p><label>E-mail</label><br />
      <input type="text" name="user[email]" placeholder="Digite o seu email"></input><br />
      <label>Senha</label><br />
      <input type="password" name="user[password]" placeholder="Digite a sua senha"></input><br /><br />
      <button type="submit" class="btn btn-success">Submit</button></a></p>
      </form>


    </a>
  </body>
</html>
