<!DOCTYPE html>
<html>
  <head>
    <link href="/styles.css" rel=stylesheet>
    <meta charset="utf-8">
    <style>
    .log{
      font-size: 20px;
    }
    body{
      text-align: center;
      font-family: Arial Unicode MS;
    }
    body{
      background-color: white;
    }

    .footer{
      background-color: #181818;
      left: 0;
      bottom: 0;
      width: 100%
      color: white;
      padding: 30px 0;
      font-family: Arial Unicode MS;
    }

    </style>

  </head>
  <body class="corpo">

    <div class="picture">
      <img src="images/LogoFinal.png" alt="Logo" height="200" width="200">
    </div>
    <p class="text"><em>Pizzaria tradicional italiana</em></p>
    <p><div class="button">
      <span>&emsp;</span>
      <a href="/historia"><button type="button" class="btn btn-success">História</button></a><span>&emsp;</span>
      <a href="/galeria"><button type="button" class="btn btn-success">Galeria</button></a><span>&emsp;</span>
      <a href="/cardapio"><button type="button" class="btn btn-success">Cardápio</button></a><span>&emsp;</span>
      <a href="/promocoes"><button type="button" class="btn btn-success">Promoções</button></a><span>&emsp;</span>
      <a href="/beneficios-da-pizza"><button type="button" class="btn btn-success">Benefícios da Pizza</button></a><span>&emsp;</span>
    </div></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <form class="log" action="/login" method="post">

      <p><label>E-mail</label><br />
      <input type="text" name="user[email]" placeholder="Digite o seu email"></input><br />
      <label>Senha</label><br />
      <input type="password" name="user[password]" placeholder="Digite a sua senha"></input><br /><br />
      <button type="submit" class="btn btn-success">Submit</button></a></p>
      </form>


    </a>

    <footer class="footer">
      <div class="row">
        <div class="col-4">
          <h0><font color="white">Horário de atendimento</font></h0>
          <p><font size="4" color="white">Aberto de segunda-feira ao sábado, das 00:00 as 00:00</font></p>
        </div>

        <div class="col-4">
          <h0><font color="white">Social</font></h0>
          <ul class="footer-col-social">
            <p><img src="images/contato.png" alt="Contato" height="30" width="30"><font size="4" color="white"> Contato:31 3222-4567</font></p>
            <p><img src="images/instagram.png" alt="Instagram" height="30" width="30"><font size="4" color="white"> Instagram: @pitonspizzaria</font></p>
            <p><img src="images/facebook.png" alt="Facebook" height="30" width="30"><font size="4" color="white"> Facebook: @pitonspizzaria</font></p>
          </ul>
        </div>

        <div class="col-30">
          <h0><font color="white">Endereço</font></h0>
          <ul class="footer-col-endereço">
            <p><img src="images/localizacao.png" alt="Localização" height="30" width="30"><font size="4" color="white"> Rua , nº , Buritis</font></p>
          </ul>
        </div>
      </div>
    </footer>

  </body>
</html>
