<!DOCTYPE html>
<html>
  <head>
    <link href="/styles.css" rel=stylesheet>
    <meta charset="utf-8">
    <style>
    .log{
      font-size: 20px;
    }
    body{
      text-align: center;
      font-family: Arial Unicode MS;    }
    body{
      background-color: white;
    }
    </style>

  </head>
  <body class="corpo">


<img src="images/pizza.jpg" width="1349px" height="325px"><br>
<img src="images/linha.jpg" width="1165px" height="3px"><br>


    <div class="picture">
      <img src="images/Pitons.png" alt="Logo" height="200" width="750">
    </div>

      <img src="images/linha.jpg" width="1165px" height="3px"><br>

<center>
    <p><div class="button">
      <span>&emsp;</span>
      <a href="/historia"><button type="button" class="btn btn-success">História</button></a><span>&emsp;</span>
      <a href="/galeria"><button type="button" class="btn btn-success">Galeria</button></a><span>&emsp;</span>
      <a href="/cardapio"><button type="button" class="btn btn-success">Cardápio</button></a><span>&emsp;</span>
      <a href="/promocoes"><button type="button" class="btn btn-success">Promoções</button></a><span>&emsp;</span>
      <a href="/beneficios-da-pizza"><button type="button" class="btn btn-success">Benefícios da Pizza</button></a><span>&emsp;</span>
    </div></p>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <form class="log" action="/login" method="post">

      <p><label>E-mail</label><br />
      <input type="text" name="user[email]" placeholder="Digite o seu email"></input><br />
      <label>Senha</label><br />
      <input type="password" name="user[password]" placeholder="Digite a sua senha"></input><br /><br />
      <button type="submit" class="btn btn-success">Submit</button></a></p>
      </form>


    </a>
  </body>
</html>
