<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <script scr="/javascripts/jquery.js" charset="utf-8"></script>
    <script scr="/bootstrap/js/bootstrap.bundle.min.js" charset="utf-8"></script>
  </body>
</html>
