<!DOCTYPE html>
<html>
  <head>
    <style>
    h1,div{
      text-align: center;
    }
    body{
      background-color: white;
      font-family: Arial Unicode MS;
    }
    ul{
      color: #262626;
    }
    </style>
  </head>
  <body>
    <form>
  <center>
    <img src="images/pizza.jpg" width="1365px" height="325px">
    <br>
    <br>
    <h1><font size="8" face="Euphemia"> Monte sua pizza!</font></h1>
    <br>


  <h4><font size="4" face="Euphemia" >
    <br>
      <img src="images/linha.jpg" width="500px" height="1px">
    <br>
    <p><h3> Borda: </h3></p>
      <img src="images/linha.jpg" width="500px" height="1px">
    <br><br>
      <p><input type="checkbox" name="borda[com-queijo]"> Com recheio de queijo</input></p>
      <p><input type="checkbox" name="borda[sem-queijo]"> Sem recheio de queijo</input></p>

      <br>
        <img src="images/linha.jpg" width="500px" height="1px">
      <br>

    <p><h3> Queijo: </h3></p>

        <img src="images/linha.jpg" width="500px" height="1px">
        <br>
        <br><input type="checkbox" name="queijo[cabra]"> Cabra</input>
        <br><input type="checkbox" name="queijo[tofu]"> Tofu</input>
        <br><input type="checkbox" name="queijo[mussarela]"> Mussarela</input>
        <br><input type="checkbox" name="queijo[cheddar]"> Cheddar</input>
      </p>

      <p></p>
        <img src="images/linha.jpg" width="500px" height="1px">
      <p></p>
    <p><h3> Proteina: </h3></p>
      <p></p>
        <img src="images/linha.jpg" width="500px" height="1px">
      <p></p>
      <p><input type="checkbox" name="proteina[soja]"> Soja</input></p>
      <p><input type="checkbox" name="proteina[atum]"> Atum</input></p>
      <p><input type="checkbox" name="proteina[bacon]"> Bacon</input></p>
      <p><input type="checkbox" name="proteina[frango]"> Frango</input></p>
      <p><input type="checkbox" name="proteina[grao-de-bico]"> Grão de bico</input></p>
      <p><input type="checkbox" name="proteina[presunto]"> Presunto</input></p>

      <p></p>
        <img src="images/linha.jpg" width="500px" height="1px">
      <p></p>
    <p><h3> Acompanhamento: </h3></p>
      <p></p>
        <img src="images/linha.jpg" width="500px" height="1px">
      <p></p>
      <p><input type="checkbox" name="Acompanhamento[milho]"> Milho</input></p>
      <p><input type="checkbox" name="Acompanhamento[feijao]"> Feijão</input></p>
      <p><input type="checkbox" name="Acompanhamento[tomate]"> Tomate</input></p>
      <p><input type="checkbox" name="Acompanhamento[azeitona]"> Azeitona</input></p>
      <p><input type="checkbox" name="Acompanhamento[oregano]"> Orégano</input></p>
      <p><input type="checkbox" name="Acompanhamento[pistache]"> Pistache</input></p>

      <br>
        <img src="images/linha.jpg" width="500px" height="1px">
      <br>
    <p><h3> Bebida: </h3></p>
        <img src="images/linha.jpg" width="500px" height="1px">
      <p></p>
      <p><input type="checkbox" name="bebida[fanta]"> Fanta</input></p>
      <p><input type="checkbox" name="bebida[pepsi]"> Pepsi</input></p>
      <p><input type="checkbox" name="bebida[sprite]"> Sprite</input></p>
      <p><input type="checkbox" name="bebida[vinho-tinto]"> Vinho tinto da casa</input></p>
      <p><input type="checkbox" name="bebida[vinho-branco]"> Vinho branco da casa</input></p>
      <p><input type="checkbox" name="bebida[corote]"> Corote</input></p>
      <p><input type="checkbox" name="bebida[agua]"> Agua</input></p>
      <p><input type="checkbox" name="bebida[chop]"> Chop</input></p>

  <br><br><br>
    <p>Escreva alguma observacao: <input type="text" name="observacao[obs]"></input></p>
<br><br>

</h4></font>
  <p><button type="submit" class ="btn btn-success" > Clique aqui </button></p>

</form>
