<!DOCTYPE html>
<html>
  <head>
    <style>
    h1,.clique,.picture,.botao{
      text-align: center;
    }
    .picture{

    }
    body {
      background-color: #ffffcc;
      font-family: courier, monospace;
    }
    </style>
  </head>
  <body>
    <div class="corpo">
    <!--<h1>Píton's Pizzaria</h1>-->
    <div class="picture">
      <img src="images/LogoFinal.png" alt="Logo" height="300" width="300" class="logo">
    </div>

    <!--iframe src="https://drive.google.com/file/d/1spxORimuBdP3jI-Ho1IdRaOKbbt89gjw/preview" width="640" height="480"></iframe-->
    <p class="clique">Clique aqui para começar:</p>
    <div class="botao"><a href="/teste2">
        <button type="button" class="btn btn-danger">Monte sua pizza</button></a>
    </div>
    <!--<p> Temos pizza de:</p>
    <ul>
      <li>Calabresa</li>
      <li>Pepperoni</li>
      <li>Milho e Bacon</li>
      <li>Bolonhesa</li>
      <li>Frango com Catupiry</li>
      <li>Marguerita</li>
    </ul>
    <a href="https://www.google.com">Google us!</a>-->
  </div>
  </body>
</html>
<div class = "botao"></div>
