<!DOCTYPE html>
<html>
  <head>
    <style>
    h1,div{
      text-align: center;
    }
    /* comment*/
    body{
      background-color: #ffffcc;
      font-family: courier, monospace;
    }
    ul{
      color: #262626;
    }
    </style>
    <!--<h1>Píton's Pizzaria</h1>-->
  </head>
  <body><div>
    <img src="images/LogoFinal.png" alt="Logo" height="300" width="300"></div>
    <!--iframe src="https://drive.google.com/file/d/1spxORimuBdP3jI-Ho1IdRaOKbbt89gjw/preview" width="640" height="480"></iframe-->
    <p>Faça o seu pedido aqui!</p>
    <!--<p><strong>Comece escolhendo o tipo da pizza</strong></p>
    <ul>
      <li>Padrão</li>
      <li>Vegana</li>
      <li>Doce</li>
    </ul>
    <p><strong> Escolha a base</strong></p>
    <ul>
      <li>Queijo</li>
      <li>Molho de tomate</li>
      <li>Nenhuma</li>
    </ul>
    <a href="https://www.google.com">Google us!</a>-->
  </body>
</html>
<div class = "botao"></div>
