<!DOCTYPE html>
<html>
  <head>
    <style>
    h1,div{
      text-align: center;
    }
    /* comment*/
    body{
      background-color: #ffffcc;
      font-family: courier, monospace;
    }
    ul{
      color: #262626;
    }
    </style>
    <!--<h1>Píton's Pizzaria</h1>-->
  </head>
  <body><div>
    <img src="images/LogoFinal.png" alt="Logo" height="300" width="300"></div>
    <!--iframe src="https://drive.google.com/file/d/1spxORimuBdP3jI-Ho1IdRaOKbbt89gjw/preview" width="640" height="480"></iframe-->
    <h1><strong>Benefícios da Pizza</strong></h1>

  </body>
</html>
<div class = "botao"></div>
